@import "_reset.scss";

.slide {
  display: flex;
}

.slide li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1;
  max-width: 80vw;
  margin: 20px 10vw;
  user-select: none;
}

.wrapper {
  overflow: hidden;
  max-height: 80vh;
}